// Variables
$bg-color-primary: #000000d0;
$bg-color-secondary: #7c7c7c2b;
$font-color-primary: #f2f2f2;
$font-color-secondary: #a6a6a6;
$font-color-third: #bfbfbf;
$font-family: 'Poppins', sans-serif;
$font-size-default: 16px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$line-height-default: 1.4;
$line-height-heading: 1.6;